:root {
	--nav-fg: White;
	--nav-fg-hover: White;
	--nav-bg: MediumSeaGreen ;
	--nav-bg-hover: SeaGreen;
}
html, body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
nav {
	display: flex;
	background-color: var(--nav-bg);
}
nav a, nav label {
	color: var(--nav-fg);
	text-decoration: none;
	padding: 1em;
	font-size: large;
}
nav .title {
	margin-right: 3em;
}
nav a:hover {
	background-color: var(--nav-bg-hover);
	color: var(--nav-fg-hover);
}
main {
	padding: 0 1em 1em 1em;
	max-width: 48em;
	margin: 0 auto;
}
table {
	width: 100%;
	border-collapse: collapse;
	border: 0.1em solid var(--nav-bg);
	box-shadow: 2px 2px 4px grey;
}
thead {
	background-color: var(--nav-bg);
	color: var(--nav-fg);
}
td {
	padding: 0.5em;
}
tbody tr:nth-child(odd) {
	background-color: whitesmoke;
}
dt {
	margin: 0.25em;
	font-weight: bold;
	font-size: large;
}
dd {
	font-weight: lighter;
	font-size: small;
}
label {
	display: block;
}
input {
	display: block;
}
form {
	display: flex;
	flex-direction: column;
}
input, textarea {
	border-radius: 3px;
	border: 1px solid var(--nav-bg);
	padding: 0.5rem;
	resize: none;
}
small {
	text-align: end;
	padding: 0.5em 0;
	margin-bottom: 1em;
	color: grey;
}
button {
	color: var(--nav-fg);
	background-color: var(--nav-bg);
	box-shadow: 2px 2px 4px grey;
	border-radius: 3px;
	margin: 2em 0;
	padding: 0.5rem;
	max-width: 12em;
}
button:hover {
	background-color: var(--nav-bg-hover);
}
button:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}
#title-checkbox {
	display: none;
}
.m-b {
	margin-bottom: 1em;
}
.table-resonsive {
	margin: 1em 0;
	width: 100%;
	overflow: auto;
}
.text-data {
	padding: 0.5em;
	font-family: serif;
	border: 1px solid var(--nav-bg);
	box-shadow: 2px 2px 4px grey;
	white-space: pre-wrap;
}
.title-btn {
	display: none;
}
.pagination {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.pagination a {
	padding: 0.5em;
	color: var(--nav-fg);
	background: var(--nav-bg);
	text-decoration: none;
}
.pagination a:hover {
	color: var(--nav-fg-hover);
	background: var(--nav-bg-hover);
}
.pagination a.current {
	color: black;
	background: lightgrey;
}
.pagination a.disabled {
	cursor: not-allowed;
	background: grey;
}
@media only screen and (max-width: 500px) {
	nav {
		flex-direction: column;
	}
	nav .title {
		cursor: pointer;
		margin: 0;
	}
	nav .title-btn {
		display: unset;
		float: right;
		margin-right: 1em;
	}
	nav .title-collapse {
		display: none;
	}
	#title-checkbox:checked ~ .title-collapse {
		display: unset;
	}
	.pagination {
		justify-content: normal;
		overflow-x: auto;
	}
}