<!DOCTYPE html>
<html th:lang="${#locale.language}"
	  lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Navigation</title>
</head>
<body>
<!--@thymesVar id="config" type="de.timosl.contacttool.ContactToolConfig"-->
<nav th:fragment="navigationbar">
	<input id="title-checkbox"
		   type="checkbox">
	<label for="title-checkbox"
		   class="title">
		<span th:text="${@environment.getProperty('contact-tool.app-title')}"></span>
		<span sec:authorize="isAuthenticated()"
			  class="title-btn">&#9776;</span>
	</label>
	<a class="title-collapse"
	   sec:authorize="isAuthenticated()"
	   th:href="@{/admin}"
	   th:text="#{req-all.title}">All</a>
	<a class="title-collapse"
	   sec:authorize="isAuthenticated()"
	   th:href="@{/admin/valid}"
	   th:text="#{req-valid.title}">Valid</a>
	<a class="title-collapse"
	   sec:authorize="isAuthenticated()"
	   th:href="@{/admin/filtered}"
	   th:text="#{req-filtered.title}">Filtered</a>
</nav>
</body>
</html>