<!DOCTYPE html>
<html th:lang="${#locale.language}"
	  lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta th:replace="fragments/headers :: meta"/>
	<title th:text="${@environment.getProperty('contact-tool.app-title')}">Contact-Tool</title>
</head>
<body>
<nav th:replace="fragments/navigation :: navigationbar"></nav>
<main>
	<h1 th:text="#{err.general.title}">Error</h1>
	<p th:text="#{err.general.message}">An unknown error has occured. Please try again at a later time or contact the administrator if this problem persists.</p>
</main>
</body>
</html>