<!DOCTYPE html>
<html th:lang="${#locale.language}"
	  lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta th:replace="fragments/headers :: meta"/>
	<script src="https://www.google.com/recaptcha/api.js"
			async
			defer></script>
	<title th:text="${config.appTitle}">Contact-Tool</title>
</head>
<body>
<nav th:replace="fragments/navigation :: navigationbar"></nav>
<main>
	<h1 th:text="#{index.heading.main}">New Request</h1>
	<form method="post" enctype="application/x-www-form-urlencoded">
		<label th:text="#{index.form.label.name}"
			   for="formName">Name</label>
		<input id="formName"
			   class="m-b"
			   name="name"
			   type="text"
			   required />
		<label th:text="#{index.form.label.mail}"
			   for="formMail">E-Mail</label>
		<input id="formMail"
			   class="m-b"
			   name="mail"
			   type="email"
			   required />
		<label th:text="#{index.form.label.phone}"
			   for="formPhone">Phone</label>
		<input id="formPhone"
			   class="m-b"
			   name="phone"
			   type="tel" />
		<label th:text="#{index.form.label.message}"
			   for="formMessage" >Message</label>
		<textarea id="formMessage"
				  name="message"
				  rows="10"
				  required></textarea>
		<small th:text="#{index.hint.maxchars(${config.maxMessageLength})}">Maximum of 2048 characters</small>
		<div th:attr="data-sitekey=${config.siteKey}"
			 class="g-recaptcha"
			 data-callback="onCaptchaReceived"></div>
		<button th:text="#{index.btn.submit}"
				id="formSubmitBtn"
				type="submit"
				disabled="disabled">OK</button>
	</form>
</main>
<script type="application/javascript">
function onCaptchaReceived() {
	document.getElementById('formSubmitBtn').disabled = false;
}
</script>
</body>
</html>