<!DOCTYPE html>
<html th:lang="${#locale.language}"
	  lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="#{mail.subject}">Contact Request</title>
	<style>
		html, body {
			margin: 0;
			padding: 0;
		}
		h1 {
			margin: 0;
		}
	</style>
</head>
<body>
<!--/*@thymesVar id="config" type="de.timosl.contacttool.ContactToolConfig"*/-->
<!--/*@thymesVar id="name" type="java.lang.String"*/-->
<!--/*@thymesVar id="mail" type="java.lang.String"*/-->
<!--/*@thymesVar id="phone" type="java.lang.String"*/-->
<!--/*@thymesVar id="message" type="java.lang.String"*/-->
<main>
	<h1 th:text="#{mail.heading.main}">A new contact request</h1>
	<small th:text="${config.appTitle}">Contact-Tool</small>
	<hr/>
	<h3 th:text="#{mail.heading.person}">Personal Data</h3>
	<dl>
		<dt th:text="#{mail.person.name}">Name</dt>
		<dd th:text="${name}">Max Mustermann</dd>
		<dt th:text="#{mail.person.mail}">E-Mail</dt>
		<dd>
			<a th:href="@{mailto:{mail}(mail=${mail})}"
			   th:text="${mail}">mail@example.com</a>
		</dd>
		<dt th:if="${phone}"
			th:text="#{mail.person.phone}">Phone Number</dt>
		<dd th:if="${phone}">
			<a th:href="@{tel://{phoneNr}(phoneNr=${phone})}"
			   th:text="${phone}">+0123456789</a>
		</dd>
	</dl>
	<h3 th:text="#{mail.heading.message}">Message</h3>
	<pre th:text="${message}">Example Message here.</pre>
</main>
</body>
</html>
