<!DOCTYPE html>
<html th:lang="${#locale.language}"
	  lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta th:replace="fragments/headers :: meta"/>
	<title th:text="#{req-single.title}">Single</title>
</head>
<body>
<nav th:replace="fragments/navigation :: navigationbar"></nav>
<main>
	<h1 th:text="#{req-single.person}">Person Data</h1>
	<dl>
		<dt th:text="#{attributes.name}">Name</dt>
		<dd th:text="${req.name}">Max Mustermann</dd>
		<dt th:text="#{attributes.mail}">E-Mail</dt>
		<dd>
			<a th:href="@{mailto:{mail}(mail=${req.mail})}"
			   th:text="${req.mail}">mail@example.com</a>
		</dd>
		<dt th:text="#{attributes.status}">Status</dt>
		<dd th:text="${{req.state}}">Pending</dd>
		<dt th:text="#{attributes.received}">Received</dt>
		<dd th:text="${{req.received}}">Gestern</dd>
		<dt th:if="${req.phone}"
			th:text="#{attributes.phone}">Tel</dt>
		<dd th:if="${req.phone}">
			<a th:href="@{tel://{phoneNr}(phoneNr=${req.phone})}"
			   th:text="${req.phone}"></a>
		</dd>
	</dl>
	<h1 th:text="#{req-single.message}">Message</h1>
	<p th:text="${req.message}" class="text-data">Text</p>
</main>
</body>
</html>
