<!DOCTYPE html>
<html th:lang="${#locale.language}"
	  lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta th:replace="fragments/headers :: meta"/>
	<title th:text="#{req-valid.title}">Valid</title>
</head>
<body>
<nav th:replace="fragments/navigation :: navigationbar"></nav>
<main>
	<h1 th:text="#{req-valid.heading}">Valid Requests</h1>
	<p th:text="#{req-valid.intro}">This table contains valid requests ever made, except ones that did not contain all necessary data.</p>
	<div class="table-resonsive">
		<table>
			<thead>
			<tr>
				<td th:text="#{attributes.name}">Name</td>
				<td th:text="#{attributes.mail}">E-Mail</td>
				<td th:text="#{attributes.received}">Received</td>
			</tr>
			</thead>
			<tbody>
			<tr th:each="req : ${requests}">
				<td><a th:text="${req.name}" th:href="@{/admin/id/{id}(id=${req.id})}">Max Mustermann</a></td>
				<td><a th:text="${req.mail}" th:href="@{mailto://{mail}(mail=${req.mail})}"></a></td>
				<td th:text="${{req.received}}">1 day ago</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="pagination">
		<a th:href="@{/admin/valid(page=0)}" th:classappend="${pagination.firstPage} ? 'disabled'">&laquo;</a>
		<a th:each="pageElement : ${pagination.getVisiblePages()}"
		   th:href="@{/admin/valid(page=${pageElement})}"
		   th:text="${pageElement}"
		   th:classappend="${pagination.currentPage == pageElement} ? 'current'"></a>
		<a th:href="@{/admin/valid(page=${pagination.totalPages})}" th:classappend="${pagination.lastPage} ? 'disabled'">&raquo;</a>
	</div>
</main>
</body>
</html>